html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffcc66;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#wrapper{
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #ffbb33;
    width: 100vw;
    height: 15vh;
    border-bottom: 1px solid black;
}
#logo{
    font-size: 3em;
    margin-left: 30px;
    margin-top: -60px;
    font-family: 'Courgette', cursive;
}
#logo-hover:hover{
    color: #990000;
}
#date{
    font-size: 2.5em;
    margin-top: 25px;
    margin-right: 20px;
    font-family: 'Poiret One', cursive;
}
#main{
    display: flex;
    height: 70vh;
    width: 90vw;
    background-color: #ffcc66;
}
#manage-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    height: 100%;
    border-right: 1px solid black;
}
#main-input{
    width: 90%;
    height: 20%;
    margin: 20px;
    font-size: 3em;
    background-color: #ffc34d;
    border: 2px solid black;
}
#adder{
    margin: 20px;
    font-size: 3em;
    font-family: 'Quattrocento Sans', sans-serif;
    border-bottom: 1px solid black;
    
}
#submit{
    width: 90px;
    height: 50px;
    font-size: 1.5em;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #ffbb33;
    border: 2px solid black;
}
#submit:hover{
    background-color: #ffaa00;
}
#tasks-list{
    width: 60%;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
}
ul{
    list-style-type: none;
    font-size: 2em;
    margin-left: 70px;
    font-family: 'Yantramanav', sans-serif;
    
}
li{
    margin: 15px;
}
button[class^="delete"]{
    background-color: #ffbb33;
    border: 1px solid #ffbb33;
}
button[class^="delete"]:hover{
    background-color: #ffaa00;
}
input[class^="checker"]{
    width: 25px;
    height: 25px;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffc34d;
    text-align: center;
    border-top: 1px solid black;
}